.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.divGeneralGauche {
    height: 100%;
    display: flex;
    width: 15%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aqua;
}
.Skill {
    height: 30%;
    background-color: brown;   
}
.DivGeneralDroite {
    height: 70vh;
    display: flex; 
    width: 85%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: chartreuse;
}
div{
    border: 1px solid black;
}
.PhotoProfil {
    width: 100%;
/* } com = crtl + : */