.container {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.divGeneralGauche {
    display: flex;
    width: 30%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #00a8fa;
}

.Skill {
    height: 35%;
}

.DivGeneralDroite {
    padding-left: 25px;
    height: 100%;
    display: flex;
    width: 70%;
    flex-direction: column;
    background-color: white;
}

.PhotoProfil {
    width: 100%;
    padding-left: 20px;
}

.infos {
    font-size: 25px;
    color: ivory;
}

.data {
    padding-left: 10px;
}

.Titre {
    font-size: 30px;
    height: 10%;
    width: 100%;
    text-transform: uppercase;
    color: #0bb5f4;
}

.présentation {
    height: 10%;
    width: 90%;
    font-weight: 500;
    font-size: 16px;
}

.experiences {
    padding-left: 50px;
    height: 80%;
    width: 90%;
    font-weight: 500;
    font-size: 16px;
}
.formation {
    padding-left: 50px;
    height: 40%;
    width: 90%;
    font-weight: 500;
    font-size: 16px;
}
/* } com = crtl + : */
body {
    font-size: 14px;
    line-height: 22px;
    background-color: grey;
  }
  .bold {
    font-weight: 700;
    font-size: 23px;
    text-transform: uppercase;
    color: #0bb5f4;
  }
  .hr {
    font-size: 20px;
  }
  
  /* barre skill */
  .Skill ul li {
    display: flex;
    margin-bottom: 10px;
    color: #b1eaff;
    justify-content: space-between;
    align-items: center;
  }
  
  .Skill ul li .skill_name {
    width: 25%;
  }
  
  .Skill ul li .skill_progress {
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: #009fd9;
    position: relative;
  }

  
  .Skill ul li .skill_per {
    width: 15%;
  }
    /* barre skill */