.container {
    height: 100vh;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.divGeneralGauche {
    height: 100%;
    display: flex;
    width: 20%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #00a8fa;
}

.Skill {
    height: 35%;
}

.DivGeneralDroite {
    height: 100%;
    display: flex;
    width: 80%;
    flex-direction: column;
}

div {
    border: 1px solid black;
}

.PhotoProfil {
    width: 100%;
}

.Titre {
    height: 10%;
    width: 100%;
}

.présentation {
    height: 10%;
    width: 100%;
}

.experiences {
    height: 80%;
    width: 100%;
}
.formation {
    height: 80%;
    width: 100%;
}
/* } com = crtl + : */
body {
    font-size: 14px;
    line-height: 22px;
  }
  .bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #0bb5f4;
  }
  
  .semi-bold {
    font-weight: 500;
    font-size: 16px;
  }